html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    height: 100%;
    width: 100%;
}

header {
    height: 20%;
    background-color: crimson;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 10%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    border:1% solid yellow;
    height: 10%;
    background-color: cadetblue;
    display: flex;
    align-items: center;

}
nav > ul {
    border-color: yellow;
    display: flex;
    flex: 1;
}

nav > ul > li {
    background-color: white;
    margin: 10px;
    display: inline-block;
    flex: 1;
}

section {
    background-color: orange;
    height: auto;
    border-color: black;
    display: flex;
}

#image1Id, #image2Id {
    flex: 1;
    background:  lightblue;
    border: 1px solid black;
    padding: 1% 5% 5% 5%;
}

